<header>
    <div class="head">
        <div class="nav-left" routerLink="/">
            <img ngSrc="/assets/images/logo.png" alt="logo" height="66" width="66" priority/>
            <h2 class="nav-left-h2">კლინიკა</h2>
        </div>
        <nav>
            <ul class="nav-cont">
                <li routerLink="/">ექიმები</li>
                <li>კლინიკები</li>
                <li>ანოტაციები</li>
                <li>აქციები</li>
                <li>სერვისები</li>
                <li>მედიკამენტები</li>
                <li>კონტაქტი</li>
            </ul>
        </nav>
        <div class="nav-auth">
            @if (authService.isAuthenticated()) {
                {{authService.firstname}}{{ authService.lastname}}
                <div (click)="authService.logout()">გ</div>
            } @else {
                <div class="auth" (click)="toggleModal()">ავტორიზაცია</div>
                <div>/</div>
                <div routerLink="/register" class="register">რეგისტრაცია</div>
            }
        </div>
        <div class="nav-lang">ENG</div>
    </div>
    <div class="head-under">
        <div class="left-cont">
            <div class="call-cont">
                <a href="tel:032 2 100 100" class="">
                    <div class="white-circle">
                        <img
                            ngSrc="/assets/images/call.svg"
                            alt="call icon"
                            class="call"
                            height="20" width="20"/>
                    </div>
                </a>
                <div class="num n">
                    <a href="tel:032 2 100 100">032 2 100 100</a>
                </div>
            </div>
            <div class="call-cont">
                <a
                    href="https://www.google.com/maps/place/10+Iakob+Nikoladze+St,+T'bilisi/data=!4m2!3m1!1s0x40440cd3e5f99891:0x7b588ec507aa6ab4?sa=X&ved=1t:242&ictx=111"
                >
                    <div class="white-circle">
                        <img
                            ngSrc="/assets/images/location.svg"
                            alt="location"
                            class="location icon"
                            height="18" width="18"/>
                    </div>
                </a>

                <div class="num">
                    <a
                        href="https://www.google.com/maps/place/10+Iakob+Nikoladze+St,+T'bilisi/data=!4m2!3m1!1s0x40440cd3e5f99891:0x7b588ec507aa6ab4?sa=X&ved=1t:242&ictx=111"
                    >
                        იაკობ ნიკოლაძე №10
                    </a>
                </div>
            </div>
        </div>
        <form [formGroup]="searchForm" class="right-cont">
            <div>
                <input
                    type="text"
                    class="head-input"
                    placeholder="მოძებნე ექიმის სახელით"
                    formControlName="name"
                />
            </div>
            <div>
                <input
                    type="text"
                    class="head-input"
                    placeholder="მოძებნე სპეციალობით"
                    formControlName="category"
                />
            </div>
            <div class="black-circle">
                <img
                    ngSrc="/assets/images/search.svg"
                    alt="search icon"
                    class="search-svg"
                    height="24" width="24"/>
            </div>
            @if (filteredItems.length < 0) {
                <div class="results-cont">
                    <ul class="results">
                        @for (item of filteredItems; track $index) {
                            <li>
                                {{ item.name }} - {{ item.category }}
                            </li>
                        }
                    </ul>
                </div>
            }
        </form>
    </div>
</header>
@if (isModalOpen) {
    <app-modal (toggle)="toggleModal()"></app-modal>
}
