.container {
    max-width: 580px;
    margin: 50px auto;
}

.title {
    color: #18a4e1;
    font-weight: 500;
    font-size: 26px;
}

.name-lab {
    margin-left: 20px;
    margin-bottom: 5px;
    color: #053354;
}

.head-input {
    padding: 15.5px 30px;
    border-radius: 50px;
    font-size: 14px;
    border: 1px solid #ecf2f8;
    outline: none;
    font-family: "FiraGO", sans-serif;
    font-weight: 400;
    width: 580px;
    transition: 500ms;
    color: #18a4e180;
}

.name-cont {
    margin-bottom: 13px;
}
.head-input:focus {
    border: 1px solid #18a4e180;
}

::placeholder {
    color: #b4c2cc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #005fcc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 300ms;
}

button:hover {
    background-color: #0047a3;
    transition: 300ms;
}

.error {
    opacity: 0;
    color: #ff2c52;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
    height: 17px;
}


.error.visible {
    opacity: 1;
}

.row {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.register-btn {
    background-color: #053354;
    padding: 17px 35px;
    font-weight: 500;
    color: white;
    border-radius: 50px;
    font-family: "FiraGo", sans-serif;
    cursor: pointer;
}

.register-btn:disabled {
    background-color: #96c4e6;
    cursor: not-allowed;
}
