@if (!isTokenValid) {
    <div class="container">
        <h2 class="title">პაროლის აღდგენა</h2>
        <form [formGroup]="resetPasswordForm" (submit)="onSubmit()">

            <input type="text" name="username" autocomplete="username" style="display:none;" aria-hidden="true">

            <div class="name-cont">
                <div class="name-lab">პაროლი</div>
                <input type="password" class="head-input" placeholder="( მინიმუმ 8 სიმბოლო )"
                       formControlName="password" autocomplete="current-password"/>
                <div class="error"
                     [class.visible]="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.errors">
                    {{ getErrorMessage('password') }}
                </div>
            </div>

            <div class="name-cont">
                <div class="name-lab">გაიმეორეთ პაროლი</div>
                <input type="password" class="head-input" placeholder="( მინიმუმ 8 სიმბოლო )"
                       formControlName="confirmPassword" autocomplete="current-password"/>
                <div class="error"
                     [class.visible]="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.errors">
                    {{ getErrorMessage('confirmPassword') }}
                </div>
            </div>

            <div class="last-row">
                <button class="register-btn" type="submit" [disabled]="resetPasswordForm.invalid">აღდგენა</button>
            </div>
        </form>
    </div>

} @else {
    <div class="container">
        <h2>Invalid or Expired Token</h2>
        <p>Please check the reset link or request a new one.</p>
    </div>
}
