<div class="modal-overlay" (click)="toggleModal()"></div>
<div class="modal">
    <div (click)="toggleModal()" class="close-button">X</div>
    <h2 class="authorization-text">ავტორიზაცია</h2>

    <form action="" class="auth-form">
        <input
            type="text"
            class="general-input"
            placeholder="ელ. ფოსტა/ ტელეფონის ნომერი"
        />
        <input type="password" class="general-input" placeholder="პაროლი" />
        <p class="reset-password">პაროლის აღდგენა</p>
        <button class="auth-button">შესვლა</button>
    </form>
</div>
