.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #053354B2;
    z-index: 10;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 600px;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 11;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 66px 114px 89px;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}

.authorization-text {
    font-weight: 500;
    color: #18A4E1;
    font-size: 26px;
}

.auth-form {
    margin-top: 24px;
}

.general-input {
    border: 1px solid #ECF2F8;
    padding: 15px 20px;
    margin-top: 20px;
    width: 100%;
    border-radius: 50px;
    font-size: 14px;
    transition: 500ms;
    outline: none;
}

.general-input:focus {
    background-color: white;
    border: 1px solid #18a4e180;
  }

::placeholder {
    color: #0533544D;
    font-family: "FiraGO", sans-serif;
}

.reset-password {
    color: #053354;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5px;
}

.auth-button {
    margin-top: 42px;
    background-color: #053354;
    font-size: 16px;
    color: white;
    font-weight: 500;
    padding: 10px 60px;
    border-radius: 50px;
    font-family: "FiraGo", sans-serif;
    cursor: pointer;
}
