<div class="category-list-item">{{doctor.firstName}} {{doctor.lastName}}</div>
<div class="category-list-item item-category">{{doctor.categoryName}}</div>
<div class="category-list-item item-photo">
    <!-- src="/assets/images/avatar-list.jpg"  -->
    <img [src]="'data:image/jpeg;base64,' + doctor.avatar" alt="" class="avatar-list">
</div>
<div class="category-list-item item-rating">
    <form>
        <p-rating
            [(ngModel)]="doctor.rating"
            name="first"
            [stars]="value"
            [readonly]="true"
            [cancel]="false"
        />
    </form>
</div>
<div class="category-list-item operations">
    <div class="green-circle">
        <img src="/assets/images/pencil-green.svg" alt="pencil" class="pencil-image">
    </div>
    <div class="red-circle">
        <img src="/assets/images/delete-white.svg" alt="delete">

    </div>
</div>