<section class="register-section">
    <h2 class="register-h2">რეგისტრაცია</h2>
    <form class="form-cont" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="name-cont">
                <label class="name-lab">სახელი</label>
                <input type="text" class="head-input" placeholder="( მაგ: სანდრო )" formControlName="firstName" />
                <div class="error"
                    [class.visible]="profileForm.get('firstName')?.touched && profileForm.get('firstName')?.errors">
                    {{ getErrorMessage('firstName') }}
                </div>
            </div>
            <div class="name-cont">
                <label class="name-lab">ელ. ფოსტა</label>
                <div class="email-cont">
                    <input type="email" class="head-input em" placeholder="( მაგ: sandro@example.com )"
                        formControlName="email" />
                    <img ngSrc="/assets/images/mail.svg" alt="mail" class="mail-icon" (click)="sendEmailConfirmation()"
                         height="20" width="20"/>
                </div>
                <div class="error"
                    [class.visible]="profileForm.get('email')?.touched && profileForm.get('email')?.errors">
                    {{ getErrorMessage('email') }}
                </div>
            </div>
            <div class="name-cont">
                <label class="name-lab">პირადი ნომერი</label>
                <input type="number" class="head-input" placeholder="00000000000" formControlName="personalId" />
                <div class="error"
                    [class.visible]="profileForm.get('personalId')?.touched && profileForm.get('personalId')?.errors">
                    {{ getErrorMessage('personalId') }}
                </div>
            </div>
        </div>
        <div class="row2">
            <div class="name-cont">
                <label class="name-lab">გვარი</label>
                <input type="text" class="head-input" placeholder="( მაგ: სანდროეული )" formControlName="lastName" />
                <div class="error"
                    [class.visible]="profileForm.get('lastName')?.touched && profileForm.get('lastName')?.errors">
                    {{ getErrorMessage('lastName') }}
                </div>
            </div>
            <div class="name-cont">
                <div class="codes">
                    <label class="name-lab">აქტივაციის კოდი</label>
                    <label class="sub-name-lab">ვადა 2 წთ</label>
                </div>

                <input type="text" class="head-input" placeholder="კოდისთვის დააკლიკეთ მეილის იკონკას"
                       formControlName="activationCode" autocomplete="one-time-code"/>
                <div class="error"
                    [class.visible]="profileForm.get('activationCode')?.touched && profileForm.get('activationCode')?.errors">
                    {{ getErrorMessage('activationCode') }}
                </div>
            </div>
            <div class="name-cont">
                <label class="name-lab">პაროლი</label>
                <input type="password" class="head-input" placeholder="( მინიმუმ 8 სიმბოლო )"
                    formControlName="password" autocomplete="current-password"/>
                <div class="error"
                    [class.visible]="profileForm.get('password')?.touched && profileForm.get('password')?.errors">
                    {{ getErrorMessage('password') }}
                </div>
            </div>
        </div>
        <div class="last-row">
            <button class="register-btn" type="submit" [disabled]="!profileForm.valid">რეგისტრაცია</button>
        </div>
    </form>
</section>
