<section>
    <div class="categories-section">
        <h2 class="h2-header">კატეგორიები</h2>
        <div class="categories-cont">
            <div class="head">
                <div>სახელი</div>
                <div>კატეგორია</div>
                <div class="head-photo">ფოტოსურათი</div>
                <div class="head-rating">რეიტინგი</div>
                <div></div>
            </div>
            <div class="category-list-cont">
                @for (doctor of doctors; track doctor.id) {
                    <app-category-list-item [doctor]="doctor" [index]="doctor.id" class="category-list"/>
                }
            </div>

        </div>
    </div>
</section>
