<div class="weekly-calendar-container">
    <div class="calendar-header">
        <div class="header-year">{{ currentYear }}</div>
        <div class="header-month">
            <button (click)="previousMonth()" class="big-arrow">
                <img ngSrc="./assets/images/left-arrow-black.svg" alt="left arrow" height="12" width="7" priority>
            </button>
            <div class="inner-month">
                {{ currentMonthName }}
            </div>
            <button (click)="nextMonth()" class="big-arrow">
                <img ngSrc="./assets/images/right-arrow-black.svg" alt="right arrow" height="12" width="7" priority>
            </button>
        </div>
    </div>

    <div class="calendar-grid">
        <div class="time-slot-header">
            <button (click)="previousWeek()" class="arrow">
                <img ngSrc="./assets/images/left-arrow-black.svg" alt="left arrow" height="10" width="6" priority>
            </button>
            <button (click)="nextWeek()" class="arrow">
                <img ngSrc="./assets/images/right-arrow-black.svg" alt="right arrow" height="10" width="6" priority>
            </button>
        </div>

        <div *ngFor="let day of displayedWeek" class="day-header">
            <span class="span-num">{{ day | date : "d" }}</span>
            <span class="span-week">( {{ daysOfWeek[day.getDay()] }} )</span>
        </div>
        <ng-container *ngFor="let timeSlot of timeSlots">
            <div class="time-slot">
                <div>{{ timeSlot }}</div>
            </div>
            @for (day of displayedWeek; track $index) {
                <div class="calendar-cell">
                    @if (getEventsForDayAndTime(day, timeSlot).length > 0) {
                        @for (event of getEventsForDayAndTime(day, timeSlot); track $index) {
                            <!-- suppose my userId is 1 -->
                            @if (event.userId === 1) {
                                <div class="activity reservation">
                                    <div> ჩემი ჯავშანი</div>
                                    <div (click)="deleteReservation(event.userId, day, timeSlot)">
                                        <div class="white-circle">
                                            <img ngSrc="/assets/images/close.svg" alt="close icon" height="8" width="8">
                                        </div>
                                    </div>
                                </div>
                            } @else {
                                <div class="activity off"></div>
                            }
                        }
                    } @else if (daysOfWeek[day.getDay()] === 'შაბ' || daysOfWeek[day.getDay()] === 'კვი') {
                        <div class="activity off yellow"></div>
                    } @else {
                        <div class="activity empty" (click)="openReservationModal(day, timeSlot)">
                            <span>+&nbsp;</span> დაჯავშნა
                        </div>
                    }
                </div>
            }
        </ng-container>
    </div>
    @if (isModalOpen) {
        <app-reservation-desc-modal (toggle)="toggleModal()" [description]="description" (reservationMade)="handleReservation($event)"/>
    }
</div>
