<div class="weekly-calendar-container">
    <div class="calendar-header">
        <span>{{ currentYear }} {{ currentMonthName }}</span>
    </div>

    <div class="calendar-grid">
        <div class="time-slot-header">
            <button (click)="previousWeek()" class="arrow">&#10094;</button>
            <button (click)="nextWeek()" class="arrow">&#10095;</button>
        </div>

        <div *ngFor="let day of displayedWeek" class="day-header">
            {{ daysOfWeek[day.getDay()] }} {{ day | date : "d" }}
        </div>

        <ng-container *ngFor="let time of timeSlots">
            <div class="time-slot">{{ time }}</div>
            <ng-container *ngFor="let day of displayedWeek">
                <div class="calendar-cell">
                    <ng-container *ngIf="getEventsForDayAndTime(day, time).length > 0; else emptyCell">
                        <ng-container *ngFor="let event of getEventsForDayAndTime(day, time)">
                            
                            <div *ngIf="event.id === 1" class="activity reservation">
                                <div> ჩემი ჯავშანი</div>
                                <div (click)="deleteReservation(event.id, day, time)">X</div>
                            </div>

                            <div *ngIf="event.available === false" class="activity off"></div>

                            <!-- Else case: Handle other events -->
                            <div *ngIf="event.id !== 1 && event.available !== false">
                                <div class="activity"><div>ჩემი ჯავშანი</div><div (click)="deleteReservation(event.id, day, time)">X</div></div>
                            </div>

                        </ng-container>
                    </ng-container>
                    
                    <ng-template #emptyCell>
                        <div class="activity empty" (click)="makeReservation(day, time)">
                            <span>+</span> დაჯავშნა
                        </div>
                    </ng-template>
                </div>
            </ng-container>
        </ng-container>

        <button (click)="console()">button</button>
    </div>
</div>
