<div class="weekly-calendar-container">
    <div class="calendar-header">
        <span>{{ currentYear }} {{ currentMonthName }}</span>
    </div>

    <div class="calendar-grid">
        <div class="time-slot-header">
            <button (click)="previousWeek()" class="arrow">&#10094;</button>
            <button (click)="nextWeek()" class="arrow">&#10095;</button>
        </div>

        <div *ngFor="let day of displayedWeek" class="day-header">
            {{ daysOfWeek[day.getDay()] }} {{ day | date : "d" }}
        </div>
        <ng-container *ngFor="let time of timeSlots">
            <div class="time-slot">{{ time }}</div>
            @for (day of displayedWeek; track $index) {
                <div class="calendar-cell">
                    @if (getEventsForDayAndTime(day, time).length > 0) {
                        @for (event of getEventsForDayAndTime(day, time); track $index) {
                            <!-- suppose my id is 1 -->
                            @if (event.id === 1) {
                                <div class="activity reservation">
                                    <div> ჩემი ჯავშანი</div>
                                    <div (click)="deleteReservation(event.id, day, time)">
                                        <div class="white-circle">
                                            <img src="/assets/images/close.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            } @else {
                                <div class="activity off"></div>
                            }
                        }
                    } @else if (daysOfWeek[day.getDay()] === 'Sat' || daysOfWeek[day.getDay()] === 'Sun') {
                        <div class="activity off yellow"></div>
                    } @else {
                        <div class="activity empty" (click)="makeReservation(day, time)">
                            <span>+&nbsp;</span> დაჯავშნა
                        </div>
                    }
                </div>
            }
        </ng-container>

        <button (click)="console()">button</button>
    </div>
</div>
