.register-section {
    max-width: 1530px;
    margin-top: 60px;
    margin-left: 150px;
    margin-bottom: 125px;
}

.register-h2 {
    color: #18a4e1;
    font-weight: 500;
    font-size: 26px;
}

.head-input {
    padding: 15.5px 30px;
    border-radius: 50px;
    font-size: 14px;
    border: 1px solid #ecf2f8;
    outline: none;
    font-family: "FiraGO", sans-serif;
    font-weight: 400;
    width: 480px;
    transition: 500ms;
    color: #18a4e180;
}

.head-input:focus {
    border: 1px solid #18a4e180;
}

::placeholder {
    color: #b4c2cc;
}

.codes {
    display: flex;
    justify-content: space-between;
}

.name-lab {
    margin-left: 20px;
    margin-bottom: 5px;
}

.sub-name-lab {
    color: #0533544d;
    margin-right: 20px;
}

.name-cont {
    display: flex;
    flex-direction: column;
    position: relative;
}

.error {
    opacity: 0;
    color: #ff2c52;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
    height: 17px;
}

.error.visible {
    opacity: 1;
}

.row {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}


.row2 {
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}


.mail-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.em {
    padding-right: 50px;
}

.last-row {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    width: 100%;
    margin-top: 24px;
    margin-bottom: auto;
}

.register-btn {
    background-color: #053354;
    padding: 17px 35px;
    font-weight: 500;
    color: white;
    border-radius: 50px;
    font-family: "FiraGo", sans-serif;
    cursor: pointer;
}

.register-btn:disabled {
    background-color: #96c4e6;
    cursor: not-allowed;
}

.email-cont {
    position: relative;
}


.categories-dropdown {
    border: 1px solid #ccc;
    background: #fff;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 75px;
    border-radius: 10px;
}

.categories-dropdown div {
    padding: 8px;
    cursor: pointer;
}

.categories-dropdown div:hover {
    background: #f0f0f0;
}

.non-input {
    padding: 15.5px 30px;
    border-radius: 50px;
    font-size: 14px;
    border: 1px solid #ecf2f8;
    outline: none;
    font-family: "FiraGO", sans-serif;
    font-weight: 400;
    width: 480px;
    color: #18a4e180;
    cursor: pointer;
}

.input-cont {
    position: relative;
}

.file-upload-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Style the track (background) */
::-webkit-scrollbar-track {
    background-color: #ECF2F8; /* Background of the scrollbar */
    border-bottom-right-radius: 10px;
}

/* Style the scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
    background-color: #8d8d8d; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Make it round */
}

/* Change the color when hovering over the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
    background-color: #838383; /* Darker color when hovered */
}

::-webkit-scrollbar-thumb:active {
    background-color: #595959; /* Darker color when hovered */
}
