<div class="doctor-cont">
    <div class="left-col">
        <img ngSrc="/assets/images/image.jpg" alt="avatar" class="avatar" height="157" width="157" priority/>
        <h4 class="name">გიორგი ხორავა</h4>
        <div class="title">ექიმი</div>
        <div class="category">კარდიოლოგი / არითმოლოგი</div>
        <form class="rating-cont">
            <p-rating
                [(ngModel)]="value"
                name="first"
                [stars]="value"
                [readonly]="true"
                [cancel]="false"
            />
        </form>
    </div>
    <div class="right-col">
        <div class="right-top">
            <div class="right-top-child">
                @if (permissionService.canEditDoctor()) {
                    <div class="pencil-icon-container">
                    </div>
                }
                <div class="field-cont">
                    <div class="person-id-field">პირადი ნომერი :</div>
                    <div class="person-id-val">00000000000</div>
                </div>
            </div>
            <div class="right-top-child">
                @if (permissionService.canEditDoctor()) {
                    <div class="pencil-icon-container">
                    </div>
                }
                <div class="field-cont">
                    <div class="person-id-field">დაჯავშნილია :</div>
                    <div class="person-id-val center">( 20 )</div>
                </div>
            </div>
        </div>
        <div>
            <div class="right-top-child">
                @if (permissionService.canEditDoctor()) {
                    <div class="pencil-icon-container">
                    </div>
                }
                <div class="field-cont">
                    <div class="person-id-field">ელ. ფოსტა :</div>
                    <div class="person-id-val">clinic&#64;gmail.com</div>
                </div>
            </div>
        </div>
        <div>
            <div class="right-top-child">
                @if (permissionService.canEditDoctor()) {
                    <div class="pencil-icon-container">
                    </div>
                }
                <div class="field-cont">
                    <div class="person-id-field">პაროლის შეცვლა</div>
                </div>
            </div>
        </div>
    </div>


</div>

<div>
    <div>+ დამატება</div>
    <div>რედაქტირება</div>
    <div>წაშლა</div>
</div>
