<section>
    <div class="main">
        <div class="rectangle">
            <h1>აირჩიე კლინიკა რომელსაც შეგიძლია ენდო</h1>
            <div class="btn-like">
                <img
                    src="/assets/images/location.svg"
                    alt="location"
                    class="location-svg"
                />
                <div>იაკობ ნიკოლაძე №10</div>
            </div>
        </div>
        <img
            src="/assets/images/rectangle.png"
            alt="rectangle"
            class="main-photo"
        />
    </div>

    <div class="second-main">
        <div class="second-main-content">
            <div class="list">
                <div>
                    <div class="cat-h2">
                        <h3>კატეგორიები</h3>
                    </div>
                    <div class="categories">
                        <div class="cat-number">( 467 )</div>
                        <div class="cat-name">ანდროლოგი</div>
                        <img
                            src="/assets/images/arrow.svg"
                            alt="arrow"
                            class="cat-arrow"
                        />
                    </div>
                    <div class="categories">
                        <div class="cat-number">( 467 )</div>
                        <div class="cat-name">ანდროლოგი</div>
                        <img
                            src="/assets/images/arrow.svg"
                            alt="arrow"
                            class="cat-arrow"
                        />
                    </div>
                    <div class="categories">
                        <div class="cat-number">( 467 )</div>
                        <div class="cat-name">ანდროლოგი</div>
                        <img
                            src="/assets/images/arrow.svg"
                            alt="arrow"
                            class="cat-arrow"
                        />
                    </div>
                </div>

                <div class="cat-bottom-h4">
                    <h4 class="full-view" routerLink="/categories">
                        სრულად ნახვა
                        <img
                            src="/assets/images/arrow-blue-down.svg"
                            alt=""
                            class="arrow-blue-down"
                        />
                    </h4>
                </div>
            </div>
            <div class="items-cont">
                <div class="items">
                    <app-card class="item"></app-card>
                    <app-card class="item"></app-card>
                    <app-card class="item"></app-card>
                    <app-card class="item"></app-card>
                    <app-card class="item"></app-card>
                    <app-card class="item"></app-card>
                </div>
                <div class="bottom-text">
                    <div class="bottom-text-inner">
                        <div class="bottom-text-view">სრულად ნახვა</div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
