@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:200,300,400,500,600,700,800,900");
@import 'ngx-toastr/toastr';

* {
    box-sizing: border-box;
}

body {
    font-family: "FiraGO", sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #053354;
}

label {
    color: #053354;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

p {
    padding: 0;
    margin: 0;
    color: #053354;
}

ul {
    list-style: none;
    padding: 0;
}

.p-rating .p-rating-icon {
  color: #FFD233;
}

.p-rating {
    gap: 7px;
}