<div class="list" >
    <div >
        <div class="cat-h2">
            <h3>კატეგორიები</h3>
        </div>
        <div class="cat-cont" [ngClass]="{'show-more': showMore}" #nameListContainer  >
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />
            <app-small-category-list-item />    
        </div>


    </div>

    <div class="cat-bottom-h4">
        @if(isOverflowing) {
            <h4 class="full-view" (click)="toggleShowMore()">
                {{showMore ? 'ნაკლებად ნახვა' : 'სრულად ნახვა'}}
                <img
                    src="/assets/images/arrow-blue-down.svg"
                    alt="blue arrow down"
                    class="arrow-blue-down"
                />
            </h4>
        }

    </div>
</div>
